@font-face {
	font-family:'bebas';
	src: url('Fonts/bebas/BebasNeueRegular.otf');
}

@font-face {
	font-family:'roboto';
	src: url('Fonts/Roboto/Roboto-Light.ttf');
}

body {
	font-family: 'roboto';
	padding-top:70px;
	min-height:720px;
	background:#1f1f1f;
}

.project {
	float:left; 
	margin:0 1em;
	padding:10px;
	color:#FFF;
	text-align:center;
}

.hex:before {
    content: " ";
    width: 0; height: 0;
    border-bottom: 40px solid #F2803D;
    border-left: 75px solid transparent;
    border-right: 75px solid transparent;
    position: absolute;
    top: -40px;
    left: 0;
}

.hex {
    margin-top: 30px;
    width: 150px;
    height: 85px;
    background-color: #F2803D;
    position: relative;
}

.hex:after {
    content: "";
    width: 0;
    position: absolute;
    bottom: -40px;
    left: 0;
    border-top: 40px solid #F2803D;
    border-left: 75px solid transparent;
    border-right: 75px solid transparent;
}

.overview {
	position:fixed;
	right:100px;
	width:250px;
	background:#CCC;
	padding:10px;
	border-radius:10px;
}

.task-column {
	max-height:600px;
	overflow:auto;
	color:#f3f3f3;
}

/* TASK STYLING */

.task {
	float:left;
	width:90%;
	background:#eee;
	color:#3f3f3f;
	border-radius:10px;
	position:relative;
	margin:10px 0;
}

.task p {
	padding:2px 10px;
}

.task .lead {
	width:100%;
	background:#333;
	color:#eee;
	border-radius:10px 10px 0 0;
	white-space:nowrap;
	overflow:hidden;
}

.task .due-on {
	position:absolute;
	top:0;
	right:0;
	color:#EEE;
	padding:7px;
	border-radius:0 10px 0 0;
	height:2.35em;
}

.late {
	background:#933;
}

.ontime {
	background:#393;
}

.now {
	background:#A93;
}

.task .more-btn {
	position:absolute;
	bottom:0;
	right:0;
	padding:7px;
	border:1px solid #CCC;
	padding: 0 5px 5px 5px;
	text-align:center;
	background:#222;
	color:#EEE;
	border-radius:0 0 10px 0;
	cursor:pointer;
}

.task header {
	cursor:move;
}

.task footer {
	border-top:1px dashed #CCC;
	height:27px;
	max-height:27px;
}

ul.members {
	list-style:none;
	padding:0;
	margin:0;
	padding:0 5px;
}

ul.members li {
	float:left;
	margin:0;
	padding:5px;
	font-size:0.8em;
}

ul.members li img {
	height:25px;
	width:25px;
	border:none;
	border-radius:12px;
	-o-border-radius:12px;
	-moz-border-radius:12px;
	-webkit-border-radius:12px;
}

#taskModalMemberList {
	width:100%;
	height:60px;
}

#add-member {
	height:52px;
	min-width:52px;
	border-radius:25px;
	-o-border-radius:25px;
	-moz-border-radius:25px;
	-webkit-border-radius:25px;
	background:#999;
	color:#CCC;
	text-align:center;
	font-size:2.5em;
	margin:6px 0px 0px;
	padding:0px;
	line-height:1.3em;
	cursor:pointer;
}

#add-member:hover {
	background:#F05C22;
	color:#EEE;
}

ul#taskModalMemberList li img {
	height:50px;
	width:50px;
	border-radius:25px;
	-o-border-radius:25px;
	-moz-border-radius:25px;
	-webkit-border-radius:25px;
}

.dropTarget {
	border: 1px dashed #333;
	padding: -1px;
	padding-bottom:40px;
	border-bottom:10px solid #f3f3f3;
}

#alert-box {
	width:300px;
	position:fixed;
	bottom:10px;
	right:10px;
}

#alert-box div {
	border-radius:5px;
	-o-border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-webkit-transition: opacity 1s;
	transition: opacity 1s;
}

.drawer {
	width:300px;
	position:fixed;
	top:0;
	right:-300px;
	border-left:1px solid #333;
	background:#FFF;
	height:100%;
	transition:right .5s;
	-webkit-transition:right .5s;
}

.drawer .pull-tab {
	position:absolute;
	top:100px;
	left:-40px;
	width:40px;
	height:40px;
	border-radius:5px 0 0 5px;
	-o-border-radius:5px 0 0 5px;
	-moz-border-radius:5px 0 0 5px;
	-webkit-border-radius:5px 0 0 5px;
	padding-top:3px;
	font-size:2em;
	text-align:center;
	background:#FFF;
	border-left:1px solid #333;
	border-top:1px solid #333;
	border-right:1px solid #FFF;
	border-bottom:1px solid#333;
}

.attention::after {
	content:"";
	background:red;
	position:absolute;
	top:-5px;
	left:-5px;
	height:10px;
	width:10px;
	border-radius:10px;
	-o-border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
}

.meeting {
	width:280px;
	margin:1.5em auto;
	background:#eee;
}

.meeting>* {
	margin:10px;
}

.attendees {
	height:45px;
	padding:5px 0;
	margin:10px 5px;
}

.attendees .host img {
	border: 2px solid #F05C22;
}

.timer-start {
	position:absolute;
	top:37px;
	left:5px;
	color:#CCC;
}

.timer-start:hover {
	color:#333;
}

.timer-running {
	color:#F33;
}

.member-head ul {
	list-style:none;
	margin:0;
	padding:0;
}

.member-head .adder {
	margin:0 10px 0 0;
	padding:0;
}